@import "normalize";
@import "uikit.min";
@import "uikit-rtl.min";
@import "simple-weather.min";

.cloudy {
  background: gray;
}

i {
  color: pink;
  font-size: 4em;
}


#forecast tr:nth-child(1) .day {
  background: red;
}

#forecast tr:nth-child(2) .day {
  background: yellow;
}

#forecast tr:nth-child(3) .day {
  background: blue;
}

#forecast tr:nth-child(4) .day {
  background: purple;
}

#forecast tr:nth-child(5) .day {
  background: orange;
}
