@import "normalize";
@import "uikit.min";
@import "uikit-rtl.min";
@import "simple-weather.min";

body {
  background: lightblue;
}

button {
  background: none;
  border: none;
}

img {
  width: 300px;
}

ul {
  list-style-type: none;
}

.city {
  font-size: 2em;
}

.temp {
  font-size: 2em;
}

p {
  width: 300px;
  padding: 10px;
}